<!DOCTYPE html>
<html ng-app="BlackjackApp">
<head>
    <title>Casino Tech 2016 - by Deniz Vehbi</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css" />

    <script src="lib/angular.js"></script>

    <script src="app/app.js"></script>

    <script src="app/factories/playingCard.js"></script>
    <script src="app/factories/blackjackPlayer.js"></script>
    <script src="app/factories/blackjackRuleEngine.js"></script>
    <script src="app/factories/blackjackGame.js"></script>
    <script src="app/controllers/game.js"></script>
</head>
<body ng-app>

<div ng-controller="GameController">

    <h2>Casino Tech 2016 - by Deniz Vehbi -- Game Result: {{game.getResult().resultType.description}}</h2>
    <div>
        <label>Player count:</label>
        <input type="number" ng-model="playerCount" value="4" placeholder="2-25" min="2" max="25" class="playerCount">
        <button ng-click="newGame(playerCount)">New game</button>
    </div>

    <div ng-repeat="player in game.getPlayers()" ng-class="{'dealer': player.isDealer}" class="player">
        <div class="playerToolbar">
            <label>
                {{player.getPlayerName()}} - {{player.getStatus().name}}
                ({{player.isDealer && game.getResult().status.value === 1 ? '?' : player.getCardsTotalValue()}} points)
            </label>

            <div class="playerButtons">
                <button ng-click="player.uiListener(1)" ng-if="player.isPlaying && !player.isDealer">Stand</button>
                <button ng-click="player.uiListener(2)" ng-if="player.isPlaying && !player.isDealer">Hit</button>
            </div>
        </div>

        <div ng-repeat="card in player.getCards()" ng-class="{'first': $first && game.getResult().status.value === 1}"
             class="card {{card.getSuite()}} cardOrder{{card.getOrderForRendering()}}" >
        </div>
    </div>
</div>

</body>
</html>