body {
  background: url("../images/entryscreen.jpg") no-repeat fixed;
  color: white;
  background-size: cover; }

h2 {
  font-size: 15px; }

input.playerCount {
  width: 45px; }

.player {
  padding: 5px;
  width: 40%;
  float: left; }

.player div:last-of-type {
  width: 81px; }

.player label {
  display: block;
  clear: both; }

.playerToolbar {
  height: 43px;
  width: 99%;
  float: left; }

.playerToolbar div.playerButtons {
  width: 99%;
  float: left; }

.dealer {
  text-align: center;
  width: 99%;
  height: 30%; }

.dealer div.first {
  background-position: 0 -469px; }

.dealer .playerToolbar {
  height: 21px; }

.card {
  width: 41px;
  height: 118px;
  display: inline-block; }

/* In Blackjack apparently players are not supposed to touch the cards,
but I've added the effect to be able to let players see the whole card */
.card:active {
  width: 81px;
  margin-top: -40px; }

.Hearts {
  background: url("../images/deckOfCards.gif") no-repeat 0 0; }

.Diamonds {
  background: url("../images/deckOfCards.gif") no-repeat 0 -117px; }

.Clubs {
  background: url("../images/deckOfCards.gif") no-repeat 0 -234px; }

.Spades {
  background: url("../images/deckOfCards.gif") no-repeat 0 -351px; }

button, .card {
  cursor: pointer; }

.cardOrder2 {
  background-position-x: 0px; }

.cardOrder3 {
  background-position-x: -81px; }

.cardOrder4 {
  background-position-x: -162px; }

.cardOrder5 {
  background-position-x: -243px; }

.cardOrder6 {
  background-position-x: -324px; }

.cardOrder7 {
  background-position-x: -405px; }

.cardOrder8 {
  background-position-x: -486px; }

.cardOrder9 {
  background-position-x: -567px; }

.cardOrder10 {
  background-position-x: -648px; }

.cardOrder11 {
  background-position-x: -729px; }

.cardOrder12 {
  background-position-x: -810px; }

.cardOrder13 {
  background-position-x: -891px; }

.cardOrder14 {
  background-position-x: -972px; }

/*# sourceMappingURL=main.css.map */
